<div class="modal fade show" id="addRoleModal" aria-modal="true" role="dialog"
     style="padding-right: 16px; display: block;">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Yeni Rol Ekle</h4>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">×</span>
                </button>
            </div>
            <form role="form" action="/admin/addRole" method="post" onsubmit="validateFormSubmit(event, this)">
                <div class="modal-body">
                <div class="form-group">
                    <label for="roleName">Rol Adı</label>
                    <input type="text" data-valid="required" name="roleName" id="roleName" class="form-control">
                </div>
                <div class="form-group">
                    <div id="optionCheckboxList" class="row m-0 pl-2">
                        <div class="form-check pr-1">
                            <input class="form-check-input" id="rol1" name="rol1" type="checkbox" value="1">
                            <label class="form-check-label" for="rol1">Kullanıcı Yönetimi</label>
                        </div>
                        <div class="form-check pr-1">
                            <input class="form-check-input" id="rol2" name="rol2" type="checkbox" value="2">
                            <label class="form-check-label" for="rol2">Ürün Yönetimi</label>
                        </div>
                        <div class="form-check pr-1">
                            <input class="form-check-input" id="rol3" name="rol3" type="checkbox" value="3">
                            <label class="form-check-label" for="rol3">Sipariş Alma</label>
                        </div>
                        <div class="form-check pr-1">
                            <input class="form-check-input" id="rol4" name="rol4" type="checkbox" value="4">
                            <label class="form-check-label" for="rol4">Müşteri Yönetimi</label>
                        </div>
                    </div>
                </div>
                </div>
                <div class="modal-footer justify-content-between">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Vazgeç</button>
                    <button type="submit" class="btn btn-primary">Ekle</button>
                </div>
            </form>
        </div>
        <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->
</div>