<div class="modal fade show" id="editOptionModal" aria-modal="true" role="dialog"
    style="padding-right: 16px; display: block;">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Seçeneği Düzenle</h4>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">×</span>
                </button>
            </div>
            <form role="form" method="post" onsubmit="editOptionSubmit(event,'\{{_id}}')">
                <div class="modal-body">
                    <div class="form-group">
                        <label for="optionName">Seçenek Adı</label>
                        <input type="text" id="optionName" class="form-control" value="\{{optionName}}" data-valid="required">
                    </div>
                    <div class="form-group">
                        <label for="optionDisplayName">Görünen Açıklama</label>
                        <input type="text" id="optionDisplayName" class="form-control" value="\{{optionDisplayName}}" data-valid="required">
                    </div>
                    <div class="form-group">
                        <label for="optionDetailType">Grup</label>
                        <select id="optionDetailType" class="form-control custom-select">
                            <option value="1">Seç</option>
                            <option value="2">Çıkar</option>
                        </select>
                    </div>
                    <div class="form-group">
                        <label>Seçenek Elemanları</label>
                        <div id="optionDetailContentList">
                            \{{#each optionDetailContent}}
                            <div class="d-flex py-2">
                                <input type="text" class="form-control optionDetailContentInput" value="\{{this}}" data-valid="required">
                                <button type="button" class="close px-3" onclick="this.parentNode.remove()">
                                    <i class="fas fa-trash"></i>
                                </button>
                            </div>
                        \{{/each}}
                        </div>
                    </div>
                    <button type="button" class="btn btn-default" onclick="addOptionDetailName()">
                        Seçenek Elemanı Ekle
                    </button>
                </div>
                <div class="modal-footer justify-content-between">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Vazgeç</button>
                    <button type="submit" class="btn btn-primary">Düzenle</button>
                </div>
            </form>
        </div>
        <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->
</div>