<div class="modal fade show" id="editGroupModal" aria-modal="true" role="dialog"
    style="padding-right: 16px; display: block;">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Yeni Grup Ekle</h4>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">×</span>
                </button>
            </div>
            <form role="form" method="post" onsubmit="editGroupSubmit(event, '\{{id}}')">
                <div class="modal-body">
                    <div class="form-group">
                        <label for="groupName">Grup Adı</label>
                        <input data-valid="required" type="text" id="groupName" class="form-control" value="\{{groupName}}">
                    </div>
                    <div class="form-group">
                        <label for="order">Sıra</label>
                        <input data-valid="required" type="number" id="groupOrder" class="form-control"  value="\{{order}}">
                    </div>
                </div>
                <div class="modal-footer justify-content-between">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Vazgeç</button>
                    <button type="submit" class="btn btn-primary">Düzenle</button>
                </div>
            </form>
        </div>
        <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->
    
</div>