<div class="modal fade show" id="removeFullGroupModal" aria-modal="true" role="dialog"
    style="padding-right: 16px; display: block;">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Grubu Kalıcı Olarak Sil</h4>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">×</span>
                </button>
            </div>
            <form  role="form" method="post" onsubmit="removeFullGroupSubmit(event,'\{{groupId}}')">
                <div class="modal-body">
                    Grubu kalıcı olarak silmek istediğinizden emin misiniz?
                </div>
                <div class="modal-footer justify-content-between">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Vazgeç</button>
                    <button type="submit" class="btn btn-danger">Kalıcı Olarak Sil</button>
                </div>
            </form>
        </div>
        <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->
</div>