<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>AdminLTE 3 | Fixed Sidebar</title>

    <!-- Google Font: Source Sans Pro -->
    <link rel="stylesheet"
        href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,400i,700&display=fallback">
    <!-- Font Awesome -->
    <link rel="stylesheet" href="/admin/plugins/fontawesome-free/css/all.min.css">
    <!-- overlayScrollbars -->
    <link rel="stylesheet" href="/admin/plugins/overlayScrollbars/css/OverlayScrollbars.min.css">
    <!-- Theme style -->
    
    <!-- Toastr -->
    <link rel="stylesheet" href="/client/plugins/toastr/toastr.min.css">
    {{{_sections.link}}}
    <link rel="stylesheet" href="/admin/dist/css/adminlte.min.css">
    <link rel="stylesheet" href="/admin/dist/css/changes.css">
    {{{_sections.style}}}
</head>

<body class="hold-transition layout-fixed
{{#inArray admin.options "darkMode"}}dark-mode{{/inArray}}
{{#inArray admin.options "fontSize"}}text-lg{{/inArray}}
{{#inArray admin.options "sidebarMini"}}sidebar-mini sidebar-collapse{{/inArray}}
">

    <div class="wrapper">
        {{> admin/navbar this}}
        <!-- /.navbar -->

        {{> admin/sidebar this}}

        <!-- Content Wrapper. Contains page content -->
        <div class="content-wrapper">
            {{{body}}}
        </div>
        <!-- /.content-wrapper -->

        {{> admin/footer}}

        <!-- Control Sidebar -->
        <aside class="control-sidebar control-sidebar-dark">
            <!-- Control sidebar content goes here -->
        </aside>
        <!-- /.control-sidebar -->
    </div>
    <!-- ./wrapper -->

    <!-- jQuery -->
    <script src="/admin/plugins/jquery/jquery.min.js"></script>
    <!-- Bootstrap 4 -->
    <script src="/admin/plugins/bootstrap/js/bootstrap.bundle.min.js"></script>
    <!-- overlayScrollbars -->
    <script src="/admin/plugins/overlayScrollbars/js/jquery.overlayScrollbars.min.js"></script>
    <!-- Toastr -->
    <script src="/client/plugins/toastr/toastr.min.js"></script>
    <!-- Handlebars Client -->
    <script src="/client/plugins/handlebars/dist/handlebars.js"></script>
    <!-- AdminLTE App -->
    <script src="/admin/dist/js/adminlte.min.js"></script>
    <!-- VALIDATE FORM -->
    <script src="/admin/dist/js/validateForm.js"></script>
    {{{_sections.script}}}
    {{> admin/flash }}
    <script>
        $(function () {
            $('[data-toggle="tooltip"]').tooltip()
        })
        toastr.options = {
            "positionClass": "toast-bottom-right"
        }
        
    </script>
    <script>
        /** add active class and stay opened when selected */
        let url = window.location;

        // for sidebar menu entirely but not cover treeview
        $('ul.nav-sidebar a').filter(function() {
            return this.href == url;
        }).addClass('active');

        // for treeview
        $('ul.nav-treeview a').filter(function() {
            return this.href == url;
        }).parentsUntil(".nav-sidebar > .nav-treeview").addClass('menu-open').prev('a').addClass('active');
    </script>
</body>

</html>