<!doctype html>
<html lang="tr">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="/client/plugins/fontawesome-free/css/all.min.css">
    
    
    <!-- AnimateCss -->
    <link rel="stylesheet" href="/client/plugins/animate.css-main/animate.min.css"/>

    {{{_sections.style-link}}}

    <link rel="stylesheet" href="/client/dist/css/stylesheets.css">
    <!-- Toastr -->
    <link rel="stylesheet" href="/client/plugins/toastr/toastr.min.css">
    {{{_sections.style}}}

    <title>Hello, world!</title>
</head>

<body>
    <header>
        {{> client/navbar}}
    </header>
    <main class="pt-3">
        {{{body}}}
    </main>
    {{> client/footer}}
    <div id="modals"></div>

    <!-- Optional JavaScript; choose one of the two! -->

    <!-- Option 1: jQuery and Bootstrap Bundle (includes Popper) -->
    <script src="/client/plugins/jquery/jquery.min.js"></script>
    <script src="/client/plugins/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <!-- Toastr -->
    <script src="/client/plugins/toastr/toastr.min.js"></script>
    <!-- Handlebars Client -->
    <script src="/client/plugins/handlebars/dist/handlebars.js"></script>
    <script src="/client/dist/js/main.js"></script>
    <!-- VALIDATE FORM -->
    <script src="/client/dist/js/validateForm.js"></script>
    {{{_sections.script}}}
    {{> client/flash }}
    <script>
        toastr.options = {
            "positionClass": "toast-bottom-right"
        }
    </script>

    <script id="loginModal-template" type="text/x-handlebars-template">
            {{> client/modals/loginModal}}
    </script>
    <script id="registerModal-template" type="text/x-handlebars-template">
            {{> client/modals/registerModal}}
    </script>
    <script id="rePasswordModal-template" type="text/x-handlebars-template">
            {{> client/modals/rePasswordModal}}
    </script>
    <script id="addProductToBasketModal-template" type="text/x-handlebars-template">
            {{> client/modals/addProductToBasketModal}}
    </script>
    <script id="basketModal-template" type="text/x-handlebars-template">
            {{> client/modals/basketModal}}
    </script>
    <script id="addAddressModal-template" type="text/x-handlebars-template">
            {{> client/modals/addAddressModal}}
    </script>


</body>

</html>