<!-- Modal -->
<div class="modal fade" id="basketModal" tabindex="-1" aria-labelledby="basketModal" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="basketModalLabel">Sepetim</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body p-4">
        <form>
          <div class="w-100">
            <div class="row">
              <div class="col-10">
                <div>3 Adet <strong>Kaşarlı Et Döner</strong></div>
                <div><small>İçecek: Fanta,Dürümden çıkar: Mayonez,Patates: Baharatlı</small></div>
                <div><strong class="text-myred">30 TL</strong></div>
              </div>
              <div class="col-2 d-flex align-items-center justify-content-center">
                <i class="fas fa-trash basket-trash"></i>
              </div>
            </div>
            <hr />
            <div class="row">
              <div class="col-10">
                <div>3 Adet <strong>Ayran</strong></div>
                <div><strong class="text-myred">15 TL</strong></div>
              </div>
              <div class="col-2 d-flex align-items-center justify-content-center">
                <i class="fas fa-trash basket-trash"></i>
              </div>
            </div>
            <hr />
          </div>

          <button class="w-100 btn btn-lg btn-yellow" type="submit">Sipariş Ver</button>
        </form>
      </div>
    </div>
  </div>
</div>