<!-- Modal -->
<div class="modal fade" id="rePasswordModal" tabindex="-1" aria-labelledby="rePasswordModal" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="rePasswordModalLabel">Yeni Şifre Talebi</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body p-4">
        <form role="form" method="post" onsubmit="validateFormSubmit(event, this)" action="/forgetPassword?redirect=/">
          <div class="form-floating pb-2">
            <input data-valid="required" type="email" class="form-control" id="email" name="email" placeholder="E-mail" />
            <label for="floatingInput">E-mail</label>
          </div>
          <button class="w-100 btn btn-lg btn-yellow" type="submit">Yeni Şifremi Gönder</button>
        </form>
      </div>
    </div>
  </div>
</div>