<div class="vh-100 d-flex align-items-center justify-content-center">
  Sayfa bulunamadı.
</div>

{{#section "link"}}{{/section}}

{{#section "style"}}
  <style>
  </style>
{{/section}}

{{#section "script"}}

  <script>

    window.onload = function(){ }

  </script>

{{/section}}