<div id="carouselIndex" class="carousel slide" data-bs-slide="true" data-bs-pause="false" data-bs-interval="4000" data-bs-ride="carousel">
  <div class="carousel-inner">
    <div class="carousel-item active">
      <div
        style="width: 100%;height:600px; 
        background-image: url('/client/img/doner.jpg');
        background-repeat: no-repeat;
        background-position: center;
        background-attachment: fixed;"
      ></div>
      <div class="carousel-caption d-none d-md-block">
        <div class="animate__animated animate__fadeInLeft">
          <h3>0532 162 92 10</h3>
          <p>Sipariş <strong>Et</strong> Getirelim</p>
        </div>

      </div>
    </div>
    <div class="carousel-item">
      <div
        style="width: 100%;height:600px; 
        background-image: url('/client/img/doner2.jpg');
        background-repeat: no-repeat;
        background-position: center;
        background-attachment: fixed;"
      ></div>
      <div class="carousel-caption d-none d-md-block">
        <div class="animate__animated animate__backInUp">
          <h3>Ören Mahallesi Siteler Bulvarı No:13</h3>
          <p>Gel Al</p>
        </div>
      </div>
    </div>
  </div>
</div>

<section class="bg-myred text-white py-5">
  <div class="container">
    <div class="section-header">
      <h1>Merhaba!</h1>
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit</p>
    </div>
    <div class="section-body">
      <div class="row">
        <div class="col-12 col-md-4 p-3">
          <div class="bg-white text-myblack px-3 py-5">
            <h3 class="text-center">Üye Ol</h3>
            <div class="row">
              <div class="col-3 d-flex justify-content-center align-items-center">
                <i class="far fa-address-card" style="font-size: 2em;"></i>
              </div>
              <div class="col-9">
                <p class="m-0">Üye ol siparişlerden anında %10 indirim al.</p>
              </div>
            </div>
          </div>
        </div>
        <div class="col-12 col-md-4 p-3">
          <div class="bg-white text-myblack px-3 py-5">
            <h3 class="text-center">Hızlı Sipariş</h3>
            <div class="row">
              <div class="col-3 d-flex justify-content-center align-items-center">
                <i class="fas fa-motorcycle" style="font-size: 2em;"></i>
              </div>
              <div class="col-9">
                <p class="m-0">Paket servisimiz lezzetli ürünlerimiz ile servise hazırdır.</p>
              </div>
            </div>
          </div>
        </div>
        <div class="col-12 col-md-4 p-3">
          <div class="bg-white text-myblack px-3 py-5">
            <h3 class="text-center">Menülerimizi denediniz mi?</h3>
            <div class="row">
              <div class="col-3 d-flex justify-content-center align-items-center">
                <i class="fas fa-hamburger" style="font-size: 2em;"></i>
              </div>
              <div class="col-9">
                <p class="m-0">Lezzetli ürünlerimiz içecek ve patates ile daha avantajlı.</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<section
  class="py-5 bg-myred"
  style="width: 100%;
              background-image: url('/client/img/bg-big-1.jpg');
              background-repeat: no-repeat;
              background-position: center;
              background-attachment: fixed;"
>
  <div class="container">
    <div class="section-header text-white">
      <h1>Ürünlerimiz</h1>
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit</p>
      <a href="/menu" class="btn btn-yellow px-5">Menüyü gör</a>
    </div>

    <div class="section-body text-myblack">
      <div class="row">
        <div class="col-12 col-md-6 col-lg-3 p-4">
          <div class="p-0 bg-white">
            <div
              class="product-image"
              style="width: 100%;height:150px; 
              background-image: url('/client/img/durum1.jpg');
              background-repeat: no-repeat;
              background-position: center;"
            >
            </div>
            <div class="product-detail p-3">
              <h5 class="text-center">Hello, world!</h5>
              <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Lorem ipsum sit amet, consectetur dolor sit amet, consectetur adipisicing
                elit</p>
              <button class="btn btn-sm btn-myred rounded-0"><i class="fas fa-shopping-basket"></i> 16 TL</button>
            </div>
          </div>
        </div>
        <div class="col-12 col-md-6 col-lg-3 p-4">
          <div class="p-0 bg-white">
            <div
              class="product-image"
              style="width: 100%;height:150px; 
              background-image: url('/client/img/durum2.jpg');
              background-repeat: no-repeat;
              background-position: center;"
            >
            </div>
            <div class="product-detail p-3">
              <h5 class="text-center">Hello, world!</h5>
              <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Lorem ipsum sit amet, consectetur dolor sit amet, consectetur adipisicing
                elit</p>
              <button class="btn btn-sm btn-myred rounded-0"><i class="fas fa-shopping-basket"></i> 16 TL</button>
            </div>
          </div>
        </div>
        <div class="col-12 col-md-6 col-lg-3 p-4">
          <div class="p-0 bg-white">
            <div
              class="product-image"
              style="width: 100%;height:150px; 
            background-image: url('/client/img/durum3.jpg');
            background-repeat: no-repeat;
            background-position: center;"
            >
            </div>
            <div class="product-detail p-3">
              <h5 class="text-center">Hello, world!</h5>
              <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Lorem ipsum sit amet, consectetur dolor sit amet, consectetur adipisicing
                elit</p>
              <button class="btn btn-sm btn-myred rounded-0"><i class="fas fa-shopping-basket"></i> 16 TL</button>
            </div>
          </div>
        </div>
        <div class="col-12 col-md-6 col-lg-3 p-4">
          <div class="p-0 bg-white">
            <div
              class="product-image"
              style="width: 100%;height:150px; 
                      background-image: url('/client/img/durum4.jpg');
                      background-repeat: no-repeat;
                      background-position: center;"
            >
            </div>
            <div class="product-detail p-3">
              <h5 class="text-center">Hello, world!</h5>
              <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Lorem ipsum sit amet, consectetur dolor sit amet, consectetur adipisicing
                elit</p>
              <button class="btn btn-sm btn-myred rounded-0"><i class="fas fa-shopping-basket"></i> 16 TL</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

{{#section "link"}}{{/section}}

{{#section "style"}}
  <style>
  </style>
{{/section}}

{{#section "script"}}

  <script>

    window.onload = function(){ }

  </script>

{{/section}}