<div class="d-flex align-items-center justify-content-center bg-mygrey" style="min-height: 90vh;">
  <form class="col-8 col-md-4 border rounded-2 py-4 px-5 bg-white" role="form" method="post" onsubmit="" action="">
    <h4 class="mb-4 text-center">Yeni Şifre Oluşturma</h4>
    <div class="form-floating pb-2">
      <input type="password" class="form-control" name="passwordNew" />
      <label for="floatingPassword">Yeni şifrenizi giriniz</label>
    </div>
    <div class="form-floating pb-2">
      <input type="password" class="form-control" name="passwordRe" />
      <label for="floatingPassword">Yeni şifrenizi tekrar giriniz</label>
    </div>
    <div class="form-floating p-3">
      <button class="w-100 btn btn-lg btn-yellow" type="submit">Yeni Şifre Oluştur</button>
    </div>
  </form>
</div>